/.idea/
/.vscode/
/node_modules/
/vendor/
/composer.lock
/yarn.lock
/package-lock.json
/Gruntfile.js
/package.json
/scss/
/css/
/moodle_plugin_ci.json
/phpcs.xml
/phpdoc.dist.xml
/behat.yml
/tests/*.xml
/tests/*.log
/cli/rebuild_course_cache.php
